
.main_container_pagescontainer {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.main_container_pagescontainer h3 {
    font-size: 20px;
    font-weight: bold;
    color: #050505;
}

.main_box_pagescontainer {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.page_container_pagescontainer {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 4%);
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.page_details_section_pagescontainer {
    display: flex;
    grid-gap: 15px;
}

.page_details_left_section_pagescontainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
}

.page_details_right_section_pagescontainer {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.page_details_right_top_section_pagescontainer h3 {
    font-size: 20px;
    font-weight: bold;
    color: #050505;
}

.page_details_right_bottom_section_pagescontainer {
    display: flex;
    align-items: center;
    grid-gap: 25px;
}

.page_details_icon_container_pagescontainer {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.page_details_icon_container_pagescontainer p {
    font-size: 16px;
    color: #050505;
    cursor: pointer;
}

.page_details_icon_container_pagescontainer p:hover {
    text-decoration: underline;
}

.page_details_icon_pagescontainer {
    font-size: 20px;
    color: #65676B;
}

.blue_dot_pagescontainer {
    width: 8px;
    height: 8px;
    background-color: #1877F2;
    border-radius: 50%;
}

.btn_switch_pagescontainer {
    outline: none;
    border: none;
    padding: 10px;
    color: #1877F2;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: #e7f3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    width: 100%;
}

.btn_switch_pagescontainer:hover {
    background-color: #e2ebf8;
}

.switch_icon_pagescontainer {
    font-size: 16px;
    color: #1877F2;
}